<p class="category">Hoteles & Pre-Reservaciones</p>

<div class="row">
    <div class="col-lg-4 col-md-5">
        <div class="card card-user">
            <div class="image">
                <img src="<%=asset_path'hotel/relicario.PNG'%>" alt="..."/>
            </div>
            <div class="content">
                <div class="author">
                    <img class="avatar border-white" src="<%=asset_path'png/hotel-5.png'%>" alt="..."/>
                    <h4 class="title">Hotel El Relicario<br />
                        <a href="#"><small>01 418 120 0712</small></a>
                    </h4>
                </div>
                <p class="description text-center">
                    Calzada De Los Héroes #12, Revoluci&oacute;n, 37800 Dolores Hidalgo Cuna de la Independencia Nacional, Gto.
                </p>
            </div>
            <hr>
            <div class="text-center">
                <div class="row">
                    <div class="text-center">
                        <%= link_to 'Pre-Reservacion', new_reservacion_path , class: 'btn btn-danger' %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-5">
        <div class="card card-user">
            <div class="image">
                <img src="<%=asset_path'hotel/conspiracion.jpg'%>" alt="..."/>
            </div>
            <div class="content">
                <div class="author">
                    <img class="avatar border-white" src="<%=asset_path'png/hotel-5.png'%>" alt="..."/>
                    <h4 class="title">Posada de la Conspiración<br />
                        <a href="#"><small>01 418 182 4603</small></a>
                    </h4>
                </div>
                <p class="description text-center">
                    Coahuila 17, Centro, 37800 Dolores Hidalgo Cuna de la Independencia Nacional, <br> Gto.
                </p>
            </div>
            <hr>
            <div class="text-center">
                <div class="row">
                    <div class="text-center">
                        <%= link_to 'Pre-Reservacion', new_reservacion_path , class: 'btn btn-danger' %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-5">
        <div class="card card-user">
            <div class="image">
                <img src="<%=asset_path'hotel/jazmin.PNG'%>" alt="..."/>
            </div>
            <div class="content">
                <div class="author">
                    <img class="avatar border-white" src="<%=asset_path'png/hotel-5.png'%>" alt="..."/>
                    <h4 class="title">Hotel El Jazm&iacute;n de Zanya<br />
                        <a href="#"><small>01 418 182 3376</small></a>
                    </h4>
                </div>
                <p class="description text-center">
                    Rivera del Río 66, Centro, 37800 Dolores Hidalgo Cuna de la Independencia Nacional,<br> Gto.
                </p>
            </div>
            <hr>
            <div class="text-center">
                <div class="row">
                    <div class="text-center">
                        <%= link_to 'Pre-Reservacion', new_reservacion_path , class: 'btn btn-danger' %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-4 col-md-5">
        <div class="card card-user">
            <div class="image">
                <img src="<%=asset_path'hotel/casa.PNG'%>" alt="..."/>
            </div>
            <div class="content">
                <div class="author">
                    <img class="avatar border-white" src="<%=asset_path'png/hotel-5.png'%>" alt="..."/>
                    <h4 class="title">Hotel CasaMia<br />
                        <a href="#"><small>01 418 182 2560</small></a>
                    </h4>
                </div>
                <p class="description text-center">
                    San Luis Potosí 9-B, Centro, 37800 Dolores Hidalgo Cuna de la Independencia Nacional, Gto.
                </p>
            </div>
            <hr>
            <div class="text-center">
                <div class="row">
                    <div class="text-center">
                        <%= link_to 'Pre-Reservacion', new_reservacion_path , class: 'btn btn-danger' %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-5">
        <div class="card card-user">
            <div class="image">
                <img src="<%=asset_path'hotel/anber.PNG'%>" alt="..."/>
            </div>
            <div class="content">
                <div class="author">
                    <img class="avatar border-white" src="<%=asset_path'png/hotel-5.png'%>" alt="..."/>
                    <h4 class="title">Hotel Anber Centro Historico<br />
                        <a href="#"><small>01 418 185 0012</small></a>
                    </h4>
                </div>
                <p class="description text-center">
                    Guanajuato 9, Guanajuato, 37800 Dolores Hidalgo Cuna de la Independencia Nacional, Gto.
                </p>
            </div>
            <hr>
            <div class="text-center">
                <div class="row">
                    <div class="text-center">
                        <%= link_to 'Pre-Reservacion', new_reservacion_path , class: 'btn btn-danger' %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-5">
        <div class="card card-user">
            <div class="image">
                <img src="<%=asset_path'hotel/cocoman.PNG'%>" alt="..."/>
            </div>
            <div class="content">
                <div class="author">
                    <img class="avatar border-white" src="<%=asset_path'png/hotel-5.png'%>" alt="..."/>
                    <h4 class="title">Posada Cocomacan<br />
                        <a href="#"><small>01 418 182 6086</small></a>
                    </h4>
                </div>
                <p class="description text-center">
                    Calle Principal #4, Centro, 37800 Dolores Hidalgo Cuna de la Independencia Nacional, Gto.
                </p>
            </div>
            <hr>
            <div class="text-center">
                <div class="row">
                    <div class="text-center">
                        <%= link_to 'Pre-Reservacion', new_reservacion_path , class: 'btn btn-danger' %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

